.knowledge{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.pre-stack-wrap{

}

.front-stack, .back-stack {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3px;
}

.front-stack .stack-items:hover{
    background-color: rgb(35, 61, 61);
}
.stack-wrapper2{
    background-color: rgb(35, 61, 61);
}
.back-stack .stack-items:hover{
    background-color: rgb(51 79 90);
}
.stack-wrapper, .stack-wrapper2{
    height: 100%;
    width: 100%;
    padding: 15%;
    box-shadow: 5px 10px 18px 0px rgba(0,0,0,1);
}
.stack-wrapper h1, .stack-wrapper2 h1{
    font-size: 56px;
    text-align: center;
    margin-top: 0;
}

.stack-items{
    width: 150px;
    height: 150px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    border-radius: 5px;
}
.stack-items:hover p{
    transition: 0.5s ease;
    opacity: 1;
}
.stack-items p{
    transition: 0.5s ease;
    opacity: 0;
}

.stack-items img{
    height: 70px;
    width: 70px;
    transition: 0.5s ease;
}


@media (max-width: 700px) {
    .knowledge{
        height: auto;
        flex-direction: column;
        padding: 10%;
    }
    .pre-stack-wrap{
        margin: 5% 5% 5% 0;
    }
    .front-stack, .back-stack{
        justify-items: center;
    }
    .stack-wrapper h1, .stack-wrapper2 h1{
        font-size: 33px;
    }
    .stack-wrapper, .stack-wrapper2 {
        padding: 15% 5% 15% 5%;;
    }
    .stack-items{
        width: 110px;
        height: 110px;
    }
    .stack-items p{
        opacity: 1;
    }
    .stack-items img{
        height: 50px;
        width: 50px;
    }
    
.front-stack .stack-items{
    background-color: rgb(35, 61, 61);
}

.back-stack .stack-items{
    background-color: rgb(51 79 90);
}
  }
  
  /* Tablet and Smaller Desktop */
  @media (min-width: 701px) and (max-width: 1500px) {
    .front-stack, .back-stack{
        justify-items: center;
    }
    .stack-wrapper h1, .stack-wrapper2 h1{
        font-size: 33px;
    }
    .stack-wrapper, .stack-wrapper2 {
        margin: 3%;
    }
    .stack-items{
        width: 110px;
        height: 110px;
    }
    .stack-items p{
        opacity: 1;
    }
    .stack-items img{
        height: 50px;
        width: 50px;
    }
    
.front-stack .stack-items{
    background-color: rgb(35, 61, 61);
}

.back-stack .stack-items{
    background-color: rgb(51 79 90);
}
  }
  
  @media (prefers-color-scheme: dark) {
    .vercelLogo {
      filter: invert(1);
    }
  
    .logo {
      filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
    }
  }